In [3]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
# open the timeseries files and concat them - remember to add +5k to each run_number
df_1 = pd.read_csv("abm_final_results_1.csv").drop(columns=["Unnamed: 0"])
df_2 = pd.read_csv("abm_final_results_2.csv").drop(columns=["Unnamed: 0"])
df_3 = pd.read_csv("abm_final_results_3.csv").drop(columns=["Unnamed: 0"])
df_4 = pd.read_csv("abm_final_results_4.csv").drop(columns=["Unnamed: 0"])
df_5 = pd.read_csv("abm_final_results_5.csv").drop(columns=["Unnamed: 0"])
df_6 = pd.read_csv("abm_final_results_6.csv").drop(columns=["Unnamed: 0"])
df_7 = pd.read_csv("abm_final_results_7.csv").drop(columns=["Unnamed: 0"])
df_8 = pd.read_csv("abm_final_results_8.csv").drop(columns=["Unnamed: 0"])
df_9 = pd.read_csv("abm_final_results_9.csv").drop(columns=["Unnamed: 0"])
df_10 = pd.read_csv("abm_final_results_10.csv").drop(columns=["Unnamed: 0"])
df_11 = pd.read_csv("abm_final_results_11.csv").drop(columns=["Unnamed: 0"])
df_12 = pd.read_csv("abm_final_results_12.csv").drop(columns=["Unnamed: 0"])
df_13 = pd.read_csv("abm_final_results_13.csv").drop(columns=["Unnamed: 0"])
df_14 = pd.read_csv("abm_final_results_14.csv").drop(columns=["Unnamed: 0"])
df_15 = pd.read_csv("abm_final_results_15.csv").drop(columns=["Unnamed: 0"])
df_16 = pd.read_csv("abm_final_results_16.csv").drop(columns=["Unnamed: 0"])
df_17 = pd.read_csv("abm_final_results_17.csv").drop(columns=["Unnamed: 0"])
df_18 = pd.read_csv("abm_final_results_18.csv").drop(columns=["Unnamed: 0"])
df_19 = pd.read_csv("abm_final_results_19.csv").drop(columns=["Unnamed: 0"])
df_20 = pd.read_csv("abm_final_results_20.csv").drop(columns=["Unnamed: 0"])


# increase run numbers
df_2["run_number"] += 5000
df_3["run_number"] += 10000
df_4["run_number"] += 15000
df_5["run_number"] += 20000
df_6["run_number"] += 25000
df_7["run_number"] += 30000
df_8["run_number"] += 35000
df_9["run_number"] += 40000
df_10["run_number"] += 45000
df_11["run_number"] += 50000
df_12["run_number"] += 55000
df_13["run_number"] += 60000
df_14["run_number"] += 65000
df_15["run_number"] += 70000
df_16["run_number"] += 75000
df_17["run_number"] += 80000
df_18["run_number"] += 85000
df_19["run_number"] += 90000
df_20["run_number"] += 95000


dfs = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15, df_16, df_17, df_18, df_19, df_20]
combined_df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15, df_16, df_17, df_18, df_19, df_20], axis=0)

In [5]:
#Â now open the ps and make sure run_number matches
ps_1 = pd.read_csv("abm_all_parameters_1.csv").drop(columns=["Unnamed: 0"])
ps_2 = pd.read_csv("abm_all_parameters_2.csv").drop(columns=["Unnamed: 0"])
ps_3 = pd.read_csv("abm_all_parameters_3.csv").drop(columns=["Unnamed: 0"])
ps_4 = pd.read_csv("abm_all_parameters_4.csv").drop(columns=["Unnamed: 0"])
ps_5 = pd.read_csv("abm_all_parameters_5.csv").drop(columns=["Unnamed: 0"])
ps_6 = pd.read_csv("abm_all_parameters_6.csv").drop(columns=["Unnamed: 0"])
ps_7 = pd.read_csv("abm_all_parameters_7.csv").drop(columns=["Unnamed: 0"])
ps_8 = pd.read_csv("abm_all_parameters_8.csv").drop(columns=["Unnamed: 0"])
ps_9 = pd.read_csv("abm_all_parameters_9.csv").drop(columns=["Unnamed: 0"])
ps_10 = pd.read_csv("abm_all_parameters_10.csv").drop(columns=["Unnamed: 0"])
ps_11 = pd.read_csv("abm_all_parameters_11.csv").drop(columns=["Unnamed: 0"])
ps_12 = pd.read_csv("abm_all_parameters_12.csv").drop(columns=["Unnamed: 0"])
ps_13 = pd.read_csv("abm_all_parameters_13.csv").drop(columns=["Unnamed: 0"])
ps_14 = pd.read_csv("abm_all_parameters_14.csv").drop(columns=["Unnamed: 0"])
ps_15 = pd.read_csv("abm_all_parameters_15.csv").drop(columns=["Unnamed: 0"])
ps_16 = pd.read_csv("abm_all_parameters_16.csv").drop(columns=["Unnamed: 0"])
ps_17 = pd.read_csv("abm_all_parameters_17.csv").drop(columns=["Unnamed: 0"])
ps_18 = pd.read_csv("abm_all_parameters_18.csv").drop(columns=["Unnamed: 0"])
ps_19 = pd.read_csv("abm_all_parameters_19.csv").drop(columns=["Unnamed: 0"])
ps_20 = pd.read_csv("abm_all_parameters_20.csv").drop(columns=["Unnamed: 0"])



# set run_numbers
ps_2["run_number"] += 5000
ps_3["run_number"] += 10000
ps_4["run_number"] += 15000
ps_5["run_number"] += 20000
ps_6["run_number"] += 25000
ps_7["run_number"] += 30000
ps_8["run_number"] += 35000
ps_9["run_number"] += 40000
ps_10["run_number"] += 45000
ps_11["run_number"] += 50000
ps_12["run_number"] += 55000
ps_13["run_number"] += 60000
ps_14["run_number"] += 65000
ps_15["run_number"] += 70000
ps_16["run_number"] += 75000
ps_17["run_number"] += 80000
ps_18["run_number"] += 85000
ps_19["run_number"] += 90000
ps_20["run_number"] += 95000


pss = pd.concat([ps_1, ps_2, ps_3, ps_4, ps_5, ps_6, ps_7, ps_8, ps_9, ps_10, ps_11, ps_12, ps_13, ps_14, ps_15, ps_16, ps_17, ps_18, ps_19, ps_20], axis=0)

In [6]:
# how many unique run numbers are there? 10k-run_number = number that failed roe deer criteria
len(combined_df.run_number.unique())

100000

In [7]:
final_accepted_results = []
for df in dfs:
    # does it pass the first filters?
    accepted_habs = df.loc[(df['Time'] == 49) & (df['Grassland'] <= 89.9) & (df['Grassland'] >= 26.8) & 
    (df['Thorny Scrub'] <= 51.8) & (df["Thorny Scrub"] >= 4.3) & 
    (df["Woodland"] <= 17) & (df["Woodland"] >= 5.8) &
    (df["Roe deer"] <= 40) & (df["Roe deer"] >= 12)]
    # if yes, save those run numbers
    final_accepted_results.append(list(accepted_habs.run_number))
# flatten the list of lists
final_accepted_results_list = [item for items in final_accepted_results for item in items]

In [8]:
# now filter the df by those run numbers 
passed_second_filters = []
for df in dfs:
    passed_first_filters = df[df.run_number.isin(final_accepted_results_list)]
    # does it pass the last habitat filters?
    last_year = passed_first_filters.loc[passed_first_filters['Time'] == 183]
    accepted_habs_second = last_year.loc[
    (last_year['Grassland'] <= 36.8) & (last_year['Grassland'] >= 16.8) & 
    (last_year['Thorny Scrub'] <= 61.8) & (last_year["Thorny Scrub"] >= 41.8) & 
    (last_year["Woodland"] <= 31.5) & (last_year["Woodland"] >= 11.5) &
    (last_year["Roe deer"] <= 80) & (last_year["Roe deer"] >= 20)]
    # save the run number
    passed_second_filters.append(list(accepted_habs_second.run_number))
# flatten the list of lists
passed_both_filters = [item for items in passed_second_filters for item in items]
passed_all_filters = combined_df[combined_df.run_number.isin(passed_both_filters)]

In [9]:
# how many passed 2009 and 2020 criteria?
len(passed_all_filters.run_number.unique())

2245

In [10]:
# order those remaining by how many filters passed
final_df = passed_all_filters.sort_values(by="passed_filters", ascending=False)

# pick the last year only to sort the values
to_sort = final_df.loc[final_df["Time"] == 184]

In [12]:
to_sort.loc[to_sort["Time"] == 184]

,Time,Roe deer,Exmoor pony,Longhorn cattle,Fallow deer,Red deer,Tamworth pigs,Grassland,Woodland,Thorny Scrub,Bare ground,run_number,passed_filters
608420,184,37,15,101,513,126,20,25,30,45,0,37968.0,60
670945,184,50,15,107,370,43,19,31,25,44,0,8273.0,60
953845,184,46,15,136,334,48,32,19,20,48,13,99653.0,60
831050,184,30,15,125,703,86,15,26,17,57,0,99054.0,60
497720,184,29,15,118,624,74,16,31,20,49,0,17428.0,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379640,184,50,15,4,687,169,16,22,21,57,0,1852.0,1
811780,184,41,15,2,542,67,29,17,28,55,0,73960.0,1
608830,184,45,15,4,275,130,25,24,29,47,0,2970.0,1
293745,184,66,15,5,29,13,17,21,25,54,0,21433.0,1
942365,184,85,15,17,646,97,55,26,27,46,2,64597.0,1

In [15]:
to_sort.loc[to_sort["run_number"] == 2233.0]

,Time,Roe deer,Exmoor pony,Longhorn cattle,Fallow deer,Red deer,Tamworth pigs,Grassland,Woodland,Thorny Scrub,Bare ground,run_number,passed_filters
457745,184,26,15,91,729,174,18,28,17,53,2,2233.0,50

In [16]:
print("min", 50/63)
print("max", 60/63)

min 0.7936507936507936
max 0.9523809523809523

In [243]:
# order those remaining by how many filters passed
df = passed_all_filters.sort_values(by="passed_filters", ascending=False)

# match that order to the PS used and save that (we will loop through these in order)
ps = pss.set_index('run_number')
ps = ps.reindex(index=to_sort['run_number'])
ps = ps.reset_index()

In [244]:
df

,Time,Roe deer,Exmoor pony,Longhorn cattle,Fallow deer,Red deer,Tamworth pigs,Grassland,Woodland,Thorny Scrub,Bare ground,run_number,passed_filters
608286,50,14,23,57,0,0,20,39,16,45,0,37968.0,60
670955,194,45,15,31,188,27,7,28,24,48,0,8273.0,60
670957,196,51,15,37,252,41,7,28,24,48,0,8273.0,60
670958,197,50,15,37,190,8,7,28,24,48,0,8273.0,60
670959,198,50,15,37,190,8,7,28,24,48,0,8273.0,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
293635,74,32,15,101,81,0,22,40,15,45,0,21433.0,1
293636,75,36,15,105,89,0,22,40,15,45,0,21433.0,1
293637,76,39,15,112,94,0,22,40,15,45,0,21433.0,1
293638,77,39,15,112,94,0,22,39,16,45,0,21433.0,1
293608,47,21,0,0,0,0,0,59,13,29,0,21433.0,1

In [245]:
ps

,run_number,initial_roe,roe_deer_reproduce,roe_deer_gain_from_saplings,roe_deer_gain_from_trees,roe_deer_gain_from_scrub,roe_deer_gain_from_young_scrub,roe_deer_gain_from_grass,chance_youngScrubMatures,chance_saplingBecomingTree,...,redDeer_stocking,tamworthPig_stocking,exmoor_stocking,fallowDeer_stocking_forecast,cattle_stocking_forecast,redDeer_stocking_forecast,tamworthPig_stocking_forecast,exmoor_stocking_forecast,introduced_species_stocking_forecast,chance_scrub_saves_saplings
0,37968.0,12,0.165202,0.091920,0.137356,0.039575,0.010166,0.250847,0.009444,0.005971,...,35,7,15,247,81,35,7,15,0,0.174591
1,8273.0,12,0.167651,0.064577,0.002751,0.061157,0.083174,0.434565,0.005067,0.003603,...,35,7,15,247,81,35,7,15,0,0.148461
2,99653.0,12,0.170314,0.045421,0.105607,0.160071,0.003744,0.329463,0.003096,0.004136,...,35,7,15,247,81,35,7,15,0,0.176783
3,99054.0,12,0.127109,0.014081,0.077786,0.021847,0.069277,0.747650,0.003258,0.004262,...,35,7,15,247,81,35,7,15,0,0.296758
4,17428.0,12,0.148256,0.065836,0.213064,0.314250,0.064674,0.580425,0.004795,0.002158,...,35,7,15,247,81,35,7,15,0,0.502777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,1852.0,12,0.145063,0.032409,0.207408,0.293331,0.017339,0.422541,0.008446,0.002625,...,35,7,15,247,81,35,7,15,0,0.793151
2241,73960.0,12,0.179620,0.087611,0.231440,0.316183,0.015710,0.352093,0.008102,0.002229,...,35,7,15,247,81,35,7,15,0,0.487883
2242,2970.0,12,0.171167,0.060077,0.014028,0.164340,0.064519,0.253940,0.006230,0.002281,...,35,7,15,247,81,35,7,15,0,0.640223
2243,21433.0,12,0.185023,0.009633,0.199258,0.019389,0.086010,0.235117,0.010539,0.007907,...,35,7,15,247,81,35,7,15,0,0.438834
2244,64597.0,12,0.190702,0.033703,0.055212,0.244957,0.092124,0.417678,0.005973,0.002252,...,35,7,15,247,81,35,7,15,0,0.643818

In [38]:
ps.to_csv('abm_passed_habs_params.csv')

In [5]:
best_ps_df = pd.read_csv("abm_passed_habs_params.csv").drop(columns=["Unnamed: 0"])
best_ps = best_ps_df.iloc[0:1]
best_ps.to_csv('abm_best_ps.csv')

# Old work

In [143]:
# open and concat the outputs
df_1 = pd.read_csv("abm_final_results_all_GA_outputs_1.csv").drop(columns=["Unnamed: 0"])
df_2 = pd.read_csv("abm_final_results_all_GA_outputs_2.csv").drop(columns=["Unnamed: 0"])
df_3 = pd.read_csv("abm_final_results_all_GA_outputs_3.csv").drop(columns=["Unnamed: 0"])
df_4 = pd.read_csv("abm_final_results_all_GA_outputs_4.csv").drop(columns=["Unnamed: 0"])
df_5 = pd.read_csv("abm_final_results_all_GA_outputs_5.csv").drop(columns=["Unnamed: 0"])
df_6 = pd.read_csv("abm_final_results_all_GA_outputs_6.csv").drop(columns=["Unnamed: 0"])
df_7 = pd.read_csv("abm_final_results_all_GA_outputs_7.csv").drop(columns=["Unnamed: 0"])
df_8 = pd.read_csv("abm_final_results_all_GA_outputs_8.csv").drop(columns=["Unnamed: 0"])
df_9 = pd.read_csv("abm_final_results_all_GA_outputs_9.csv").drop(columns=["Unnamed: 0"])
df_10 = pd.read_csv("abm_final_results_all_GA_outputs_10.csv").drop(columns=["Unnamed: 0"])

combined_df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10], axis=0)

# df.to_csv('abm_final_results_all_GA_outputs_combined.csv')

## Make it so they have to pass first and last habitat filters

In [144]:
dfs = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10]

final_accepted_results = []
for df in dfs:
    # does it pass the first filters?
    accepted_habs = df.loc[(df['Time'] == 49) & (df['Grassland'] <= 89.9) & (df['Grassland'] >= 26.8) & 
    (df['Thorny Scrub'] <= 51.8) & (df["Thorny Scrub"] >= 4.3) & 
    (df["Woodland"] <= 17) & (df["Woodland"] >= 5.8) &
    (df["Roe deer"] <= 40) & (df["Roe deer"] >= 12)]
    # if yes, save those run numbers
    final_accepted_results.append(list(accepted_habs.run_number))
    # flatten the list of lists
    final_accepted_results_list = [item for items in final_accepted_results for item in items]

In [145]:
# now filter the df by those run numbers 
passed_second_filters = []
for df in dfs:
    passed_first_filters = df[df.run_number.isin(final_accepted_results_list)]
    # does it pass the last habitat filters?
    last_year = passed_first_filters.loc[passed_first_filters['Time'] == 183]
    accepted_habs_second = last_year.loc[
    (last_year['Grassland'] <= 36.8) & (last_year['Grassland'] >= 16.8) & 
    (last_year['Thorny Scrub'] <= 61.8) & (last_year["Thorny Scrub"] >= 41.8) & 
    (last_year["Woodland"] <= 31.5) & (last_year["Woodland"] >= 11.5) &
    (last_year["Roe deer"] <= 80) & (last_year["Roe deer"] >= 20)]
    # save the run number
    passed_second_filters.append(list(accepted_habs_second.run_number))
# flatten the list of lists
passed_both_filters = [item for items in passed_second_filters for item in items]

In [146]:
combined_df

,Time,Roe deer,Exmoor pony,Longhorn cattle,Fallow deer,Red deer,Tamworth pigs,Grassland,Woodland,Thorny Scrub,Bare ground,run_number,passed_filters
0,0,12,0,0,0,0,0,88,6,6,0,1.0,34
1,0,12,0,0,0,0,0,88,6,6,0,1.0,34
2,1,12,0,0,0,0,0,88,6,7,0,1.0,34
3,2,12,0,0,0,0,0,88,6,7,0,1.0,34
4,3,12,0,0,0,0,0,87,6,7,0,1.0,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60005,5995,244,15,35,61,49,32,11,0,89,0,100.0,16
60006,5996,244,15,35,61,16,39,11,0,89,0,100.0,16
60007,5997,244,15,35,61,16,36,10,0,90,0,100.0,16
60008,5998,244,15,35,61,15,29,10,0,89,0,100.0,16
60009,5999,244,15,35,61,15,7,11,0,89,0,100.0,16

In [147]:
passed_all = combined_df[combined_df.run_number.isin(passed_both_filters)]

In [148]:
passed_all

,Time,Roe deer,Exmoor pony,Longhorn cattle,Fallow deer,Red deer,Tamworth pigs,Grassland,Woodland,Thorny Scrub,Bare ground,run_number,passed_filters
0,0,12,0,0,0,0,0,88,6,6,0,11.0,11
1,0,12,0,0,0,0,0,88,6,6,0,11.0,11
2,1,12,0,0,0,0,0,87,6,6,1,11.0,11
3,2,12,0,0,0,0,0,87,6,7,1,11.0,11
4,3,15,0,0,0,0,0,85,6,7,3,11.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5996,5995,45,15,63,0,36,10,96,0,0,4,11.0,11
5997,5996,45,15,58,0,5,10,97,0,0,3,11.0,11
5998,5997,45,15,58,0,5,9,97,0,0,3,11.0,11
5999,5998,45,15,57,0,5,7,98,0,0,2,11.0,11
6000,5999,45,15,56,0,5,7,98,0,0,2,11.0,11

In [131]:
best_results.loc[best_results["run_number"] == 11.0]

,Time,Roe deer,Exmoor pony,Longhorn cattle,Fallow deer,Red deer,Tamworth pigs,Grassland,Woodland,Thorny Scrub,Bare ground,run_number,passed_filters
184,183,74,15,3,501,36,21,27,12,44,16,11.0,11

In [33]:
# make sure all 100 are there
len(df.run_number.sort_values().unique())

100

In [34]:
# how many filters were passed
print("min", df.passed_filters.min()/63)
print("max", df.passed_filters.max()/63)

min 0.0
max 0.9047619047619048

In [36]:
best_run = df.loc[df["passed_filters"] == df["passed_filters"].max()]

# Check the best parameters

In [37]:
# match the run number to the dfs to see how many filters it passed: overall best (grassland state)
accepted_params = pd.read_excel('optimizer_outputs_resilience.xlsx')
best_ps = accepted_params.loc[accepted_params["run_number"] == 39]
# save it to csv
best_ps.to_csv("best_parameter_set_abm.csv")

,chance_reproduceSapling,chance_reproduceYoungScrub,chance_regrowGrass,chance_saplingBecomingTree,chance_youngScrubMatures,chance_scrubOutcompetedByTree,chance_grassOutcompetedByTree,chance_grassOutcompetedByScrub,roe_deer_reproduce,roe_deer_gain_from_grass,...,cows_gain_from_young_scrub,tamworth_pig_reproduce,tamworth_pig_gain_from_grass,tamworth_pig_gain_from_trees,tamworth_pig_gain_from_scrub,tamworth_pig_gain_from_saplings,tamworth_pig_gain_from_young_scrub,chance_scrub_saves_saplings,fit,run_number
38,0.004437,0.00267,0.783227,0.006747,0.019585,0.165847,0.281835,0.370236,0.04949,0.09999,...,0.047362,0.263841,0.849266,0.310912,0.10999,0.038039,0.050957,0.353805,6.842563,39

In [113]:
# match the run number to the dfs to see how many filters it passed: scrubland state
accepted_params = pd.read_excel('optimizer_outputs_resilience.xlsx')
best_ps = accepted_params.loc[accepted_params["run_number"] == 47]
# save it to csv
best_ps.to_csv("best_parameter_set_abm_scrub.csv")

In [114]:
# match the run number to the dfs to see how many filters it passed: woodland state
accepted_params = pd.read_excel('optimizer_outputs_resilience.xlsx')
best_ps = accepted_params.loc[accepted_params["run_number"] == 3]
# save it to csv
best_ps.to_csv("best_parameter_set_abm_wood.csv")