In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [143]:
# open and concat the outputs
df_1 = pd.read_csv("abm_final_results_all_GA_outputs_1.csv").drop(columns=["Unnamed: 0"])
df_2 = pd.read_csv("abm_final_results_all_GA_outputs_2.csv").drop(columns=["Unnamed: 0"])
df_3 = pd.read_csv("abm_final_results_all_GA_outputs_3.csv").drop(columns=["Unnamed: 0"])
df_4 = pd.read_csv("abm_final_results_all_GA_outputs_4.csv").drop(columns=["Unnamed: 0"])
df_5 = pd.read_csv("abm_final_results_all_GA_outputs_5.csv").drop(columns=["Unnamed: 0"])
df_6 = pd.read_csv("abm_final_results_all_GA_outputs_6.csv").drop(columns=["Unnamed: 0"])
df_7 = pd.read_csv("abm_final_results_all_GA_outputs_7.csv").drop(columns=["Unnamed: 0"])
df_8 = pd.read_csv("abm_final_results_all_GA_outputs_8.csv").drop(columns=["Unnamed: 0"])
df_9 = pd.read_csv("abm_final_results_all_GA_outputs_9.csv").drop(columns=["Unnamed: 0"])
df_10 = pd.read_csv("abm_final_results_all_GA_outputs_10.csv").drop(columns=["Unnamed: 0"])

combined_df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10], axis=0)

# df.to_csv('abm_final_results_all_GA_outputs_combined.csv')

## Make it so they have to pass first and last habitat filters

In [144]:
dfs = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10]

final_accepted_results = []
for df in dfs:
    # does it pass the first filters?
    accepted_habs = df.loc[(df['Time'] == 49) & (df['Grassland'] <= 89.9) & (df['Grassland'] >= 26.8) & 
    (df['Thorny Scrub'] <= 51.8) & (df["Thorny Scrub"] >= 4.3) & 
    (df["Woodland"] <= 17) & (df["Woodland"] >= 5.8) &
    (df["Roe deer"] <= 40) & (df["Roe deer"] >= 12)]
    # if yes, save those run numbers
    final_accepted_results.append(list(accepted_habs.run_number))
    # flatten the list of lists
    final_accepted_results_list = [item for items in final_accepted_results for item in items]

In [145]:
# now filter the df by those run numbers 
passed_second_filters = []
for df in dfs:
    passed_first_filters = df[df.run_number.isin(final_accepted_results_list)]
    # does it pass the last habitat filters?
    last_year = passed_first_filters.loc[passed_first_filters['Time'] == 183]
    accepted_habs_second = last_year.loc[
    (last_year['Grassland'] <= 36.8) & (last_year['Grassland'] >= 16.8) & 
    (last_year['Thorny Scrub'] <= 61.8) & (last_year["Thorny Scrub"] >= 41.8) & 
    (last_year["Woodland"] <= 31.5) & (last_year["Woodland"] >= 11.5) &
    (last_year["Roe deer"] <= 80) & (last_year["Roe deer"] >= 20)]
    # save the run number
    passed_second_filters.append(list(accepted_habs_second.run_number))
# flatten the list of lists
passed_both_filters = [item for items in passed_second_filters for item in items]

In [146]:
combined_df

,Time,Roe deer,Exmoor pony,Longhorn cattle,Fallow deer,Red deer,Tamworth pigs,Grassland,Woodland,Thorny Scrub,Bare ground,run_number,passed_filters
0,0,12,0,0,0,0,0,88,6,6,0,1.0,34
1,0,12,0,0,0,0,0,88,6,6,0,1.0,34
2,1,12,0,0,0,0,0,88,6,7,0,1.0,34
3,2,12,0,0,0,0,0,88,6,7,0,1.0,34
4,3,12,0,0,0,0,0,87,6,7,0,1.0,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60005,5995,244,15,35,61,49,32,11,0,89,0,100.0,16
60006,5996,244,15,35,61,16,39,11,0,89,0,100.0,16
60007,5997,244,15,35,61,16,36,10,0,90,0,100.0,16
60008,5998,244,15,35,61,15,29,10,0,89,0,100.0,16
60009,5999,244,15,35,61,15,7,11,0,89,0,100.0,16

In [147]:
passed_all = combined_df[combined_df.run_number.isin(passed_both_filters)]

In [148]:
passed_all

,Time,Roe deer,Exmoor pony,Longhorn cattle,Fallow deer,Red deer,Tamworth pigs,Grassland,Woodland,Thorny Scrub,Bare ground,run_number,passed_filters
0,0,12,0,0,0,0,0,88,6,6,0,11.0,11
1,0,12,0,0,0,0,0,88,6,6,0,11.0,11
2,1,12,0,0,0,0,0,87,6,6,1,11.0,11
3,2,12,0,0,0,0,0,87,6,7,1,11.0,11
4,3,15,0,0,0,0,0,85,6,7,3,11.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5996,5995,45,15,63,0,36,10,96,0,0,4,11.0,11
5997,5996,45,15,58,0,5,10,97,0,0,3,11.0,11
5998,5997,45,15,58,0,5,9,97,0,0,3,11.0,11
5999,5998,45,15,57,0,5,7,98,0,0,2,11.0,11
6000,5999,45,15,56,0,5,7,98,0,0,2,11.0,11

In [131]:
best_results.loc[best_results["run_number"] == 11.0]

,Time,Roe deer,Exmoor pony,Longhorn cattle,Fallow deer,Red deer,Tamworth pigs,Grassland,Woodland,Thorny Scrub,Bare ground,run_number,passed_filters
184,183,74,15,3,501,36,21,27,12,44,16,11.0,11

In [33]:
# make sure all 100 are there
len(df.run_number.sort_values().unique())

100

In [34]:
# how many filters were passed
print("min", df.passed_filters.min()/63)
print("max", df.passed_filters.max()/63)

min 0.0
max 0.9047619047619048

In [36]:
best_run = df.loc[df["passed_filters"] == df["passed_filters"].max()]

# Check the best parameters

In [37]:
# match the run number to the dfs to see how many filters it passed: overall best (grassland state)
accepted_params = pd.read_excel('optimizer_outputs_resilience.xlsx')
best_ps = accepted_params.loc[accepted_params["run_number"] == 39]
# save it to csv
best_ps.to_csv("best_parameter_set_abm.csv")

,chance_reproduceSapling,chance_reproduceYoungScrub,chance_regrowGrass,chance_saplingBecomingTree,chance_youngScrubMatures,chance_scrubOutcompetedByTree,chance_grassOutcompetedByTree,chance_grassOutcompetedByScrub,roe_deer_reproduce,roe_deer_gain_from_grass,...,cows_gain_from_young_scrub,tamworth_pig_reproduce,tamworth_pig_gain_from_grass,tamworth_pig_gain_from_trees,tamworth_pig_gain_from_scrub,tamworth_pig_gain_from_saplings,tamworth_pig_gain_from_young_scrub,chance_scrub_saves_saplings,fit,run_number
38,0.004437,0.00267,0.783227,0.006747,0.019585,0.165847,0.281835,0.370236,0.04949,0.09999,...,0.047362,0.263841,0.849266,0.310912,0.10999,0.038039,0.050957,0.353805,6.842563,39

In [113]:
# match the run number to the dfs to see how many filters it passed: scrubland state
accepted_params = pd.read_excel('optimizer_outputs_resilience.xlsx')
best_ps = accepted_params.loc[accepted_params["run_number"] == 47]
# save it to csv
best_ps.to_csv("best_parameter_set_abm_scrub.csv")

In [114]:
# match the run number to the dfs to see how many filters it passed: woodland state
accepted_params = pd.read_excel('optimizer_outputs_resilience.xlsx')
best_ps = accepted_params.loc[accepted_params["run_number"] == 3]
# save it to csv
best_ps.to_csv("best_parameter_set_abm_wood.csv")